.App {
  text-align: center;
  color: rgb(5, 17, 17);
  background: rgb(26, 49, 56);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-page {
  background:  rgb(26, 49, 56); 
}

.navbar-custom {
  background-color: rgb(26, 49, 56); /* Replace with your desired color */
  padding: 1rem 0; /* Increase the top and bottom padding to make the navbar taller */
}

.navbar-custom .navbar-brand,
.navbar-custom .nav-link {
  color: rgb(84, 160, 163); 
}

.navbar-custom .container {
  max-width: 777px;
  margin: 0 auto;
}

.navbar-custom .navbar-nav {
  margin-left: auto; /* Push the navigation items to the right */
}

.navbar-custom .nav-link {
  padding: 1rem 1rem; /* Adjust the padding of the navigation links */
}

.entry-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.entry-title {
  cursor: pointer;
  margin: 0;
  font-size: 2em;
  transition: color 0.5s;
}

.entry-title:hover {
  color: rgb(61, 120, 140);
}

.post-card {
  text-decoration: none;
  color: inherit;
}

.post-card:hover {
  text-decoration: none;
  color: inherit;
}

.post-content {
  line-height: 1.8;
  font-size: 1.1rem;
}

@media (max-width: 767.98px) {
  .post-content {
    font-size: 1rem;
  }
}